:root {
    --max-width-layout: 1440px;
    --super-light-blue: #4998E0;
    --light-blue: #4998E0;
    --bold-blue: #233E7A;
    --light-yellow: #FBF8F4;
    --yellow: #FFE892;
    --linear-button: linear-gradient(to right, #D6A867, #FFE892, #D6A867);
    --linear-banner: linear-gradient(to bottom, #1458CC 50%, #003DA5 70%);
    --margin-common: 9%;
}

* {
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body, h3, h4, ul, p {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.phone-btn {
    padding: 14px 20px;
    background: var(--linear-button);
    border-radius: 999px;
    display: flex;
    gap: 12px;
    align-items: center;
    width: max-content;
    cursor: pointer;
}

.phone-btn:hover {
    opacity: 0.8;
}

.phone-btn span {
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: semibold;
}

/* style for phone call button */

.group-contact {
    z-index: 99999;
	position: fixed;
	left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-messenger {
    width: 61px;
    margin-left: -6px;
}

.btn-phone-call {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	
    border: none;
	background: #ec8b00;
	width: 50px;
	height: 50px;
	padding: 1rem;
	border-radius: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	-webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
	animation: cc-calto-action-ripple 0.6s linear infinite;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none; }
	.call-buton .cc-calto-action-ripple i {
	  -webkit-transition: 0.3s ease;
	  transition: 0.3s ease;
	  font-size: 2.2rem; }
	.call-buton .cc-calto-action-ripple:hover i {
	  -webkit-transform: rotate(135deg);
	  transform: rotate(135deg); }
  
  @-webkit-keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }
  
  @keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }

      .btn-phone-call img {
        width: 100%;
      }