:root {
    --max-width-layout: 1440px;
    --super-light-blue: #4998E0;
    --light-blue: #4998E0;
    --bold-blue: #233E7A;
    --light-yellow: #FBF8F4;
    --yellow: #FFE892;
    --linear-button: linear-gradient(to right, #D6A867, #FFE892, #D6A867);
    --linear-banner: linear-gradient(to bottom, #1458CC 50%, #003DA5 70%);
    --margin-common: 9%;
}

* {
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, h3, h4, ul, p {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.phone-btn {
    padding: 14px 20px;
    background: var(--linear-button);
    border-radius: 999px;
    display: flex;
    gap: 12px;
    align-items: center;
    width: max-content;
    cursor: pointer;
}

.phone-btn:hover {
    opacity: 0.8;
}

.phone-btn span {
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: semibold;
}